<div class="page-header">
  <h1 *ngIf="cidade.id == 0">Nova Cidade</h1>
  <h1 *ngIf="cidade.id > 0">Editar Cidade</h1>
</div>

<form (ngSubmit)="salvar(cidade)">
  <div class="form-group">
    <label>Cidade</label>
    <input type="text"
           name="nome"
           class="form-control campo"
           placeholder="Nome da cidade"
           [(ngModel)]="cidade.nome"
           required
           autofocus />
  </div>
  <div class="form-group">
    <label>Estado</label>
    <select name="estado"
            class="form-control campo"
            placeholder="Estado da cidade"
            [(ngModel)]="cidade.estado"
            required>
      <option>AC</option>
      <option>AL</option>
      <option>AP</option>
      <option>AM</option>
      <option>BA</option>
      <option>CE</option>
      <option>DF</option>
      <option>ES</option>
      <option>GO</option>
      <option>MA</option>
      <option>MT</option>
      <option>MS</option>
      <option>MG</option>
      <option>PA</option>
      <option>PB</option>
      <option>PR</option>
      <option>PE</option>
      <option>PI</option>
      <option>RJ</option>
      <option>RN</option>
      <option>RS</option>
      <option>RO</option>
      <option>RR</option>
      <option>SC</option>
      <option>SP</option>
      <option>SE</option>
      <option>TO</option>
    </select>
  </div>
  <div class="form-group">
    <label>Código País</label>
    <input type="text"
           name="pais"
           class="form-control campo"
           placeholder="Código do País (ex.: BR)"
           [(ngModel)]="cidade.pais"
           required />
  </div>
  <div class="form-group">
    <label>API Id</label>
    <input type="number"
           name="apiId"
           class="form-control campo"
           placeholder="API Id"
           [(ngModel)]="cidade.apiId"
           required />
  </div>
  <hr />
  <div class="row">
    <div class="form-group col-xs-12 col-sm-2">
      <button type="submit" class="btn btn-primary form-control"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
    </div>
    <div class="form-group col-xs-12 col-sm-2">
      <a class="btn btn-default form-control" [routerLink]="['/']"><i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
    </div>
  </div>
</form>
