<div class="page-header">
  <h1>Nova Cidade</h1>
</div>

<form>
  <div class="form-group col-sm-6 col-md-4">
    <label>Cidade</label>
    <input type="text"
           name="nome"
           class="form-control"
           placeholder="Nome da cidade"
           required
           autofocus />
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label>Estado</label>
    <input type="text"
           name="estado"
           class="form-control"
           placeholder="Estado da cidade"
           required
           autofocus />
  </div>
</form>
