<div class="page-header">
  <h1>Previsão do Tempo <small>{{ nomeCidade }}</small></h1>
</div>

<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr>
        <td *ngFor="let item of previsaoItens">
          <div class="container-previsao">
            <h3 class="text-center"><strong>{{ item.day }} / {{ item.month }}</strong></h3>
            <br />
            <h4 class="text-center"><i class="glyphicon glyphicon-arrow-up text-danger"></i> {{ item.main.temp_max }}°</h4>
            <hr />
            <h4 class="text-center"><i class="glyphicon glyphicon-arrow-down text-primary"></i> {{ item.main.temp_min }}°</h4>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<hr />
<a class="btn btn-default" [routerLink]="['/']"><i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
